body {
    background-image: url("images/announcementboard.jpg");
    background-size: cover;
}

.container {
    margin-top: 20px;
    width: 90%
}

#top-banner {
    border-radius: 5px;
    padding: 10px 5px;
    border-width: 3px;
    height: 100px;
    margin-bottom: 10px;
}

#woss-caption {
    display: inline;
    float: left;
    margin-right: 30px;
    padding-left: 10px;
}

#schoolLogo {
    width: auto;
    height: 83px;
}

#date {
    display: inline;
    float: right;
    padding-right: 10px;
}

.navbar {
    height: 5%;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
}

#announcements,
#content,
#weather {
    border-radius: 5px;
    width: 53%;
    height: 250px;
    float: left;
    padding: 10px;
    margin-bottom: 10px;
}

#content {
    height: 800px;
}

#announcements {
    padding: 15px;
    height: 500px;
    display: block;
    width: 100%;
}

#weather {
    height: 350px;
    float: right;
    width: 45%;
}

h2 {
    font-style: bold;
    font-size: 30px;
    display: inline;
}

h2:nth-child(2) {
    margin-left: 220px;
}

#forecast_embed {
    width: 100%;
    height: 350px;
    float: right;
    color: #003078;
}

footer {
    width: 97%;
    position: fixed;
    bottom: 0px;
    border-radius: 5px;
    height: 100px;
    margin-bottom: 50px;
    55,
    255,
    0.8);
    */ margin-left: -110px;
}

.fe_alert a {
    display: none;
}

.fe_container .fe_currently .fe_wind {
    display: none;
}

#announcement-frame {
    width: 100%;
    height: 100%;
}

.hide {
    display: none;
}

#ann-pages {
    margin: auto;
    height: 100%;
    width: 100%;
    display: none;
    overflow-y: hidden;
}

#ann-pages p {
    font-size: 29px;
}

#time {
    width: 38%;
    height: 648px;
    position: absolute;
    float: left;
    margin-top: 1395px;
    margin-left: 1.31%;
    background-color: white;
}

#datepicker {
    text-align: center;
    font-size: 90px;
    margin-top: 60px;
}


/*Version 2.0*/

div {
    display: inline;
}

.tbl-col: nth-child(1) {
    float: left;
}

.tbl-col {
    display: block;
}

#weather {
    width: 25%;
    position: absolute;
    float: left;
    margin-top: 74px;
    margin-left: 1.34%;
    background-color: white;
}

#content {
    width: 38%;
    position: absolute;
    float: left;
    margin-top: 510px;
    margin-left: 1.31%;
}

#announcements {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    float: right;
    width: 53%;
    margin-left: 1630px;
    margin-top: 445px;
    height: 1580px;
    padding-top: 100px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#title {
    width: 50%;
    border: 2px solid black;
}